.header-block {
  background: url("https://img.freepik.com/premium-photo/red-velvet-summer-fruit-cake_109285-726.jpg?w=740") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-info {
  background-color: rgba(83, 82, 82, 0.84);
  width: 100%;
  color: white;
  align-items: center;
  padding: 10px 0;
}


.cake-card {
  width: 280px;
  height: 280px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.cake-card img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.cake-card img:hover {
  transform: scale(1.3);
}

.custom-btn {
  width: 250px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-12{
  position: relative;
  right: 28px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 250px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 250px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.about-block {
  background: url("https://img.freepik.com/free-photo/ai-generated-cake-picture_23-2150649282.jpg?t=st=1729454791~exp=1729458391~hmac=60b9198f818766218819c195ade8f00ebf81f5e28e7a169c1c9a409e466f20b4&w=826") center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.about-us {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 50px;
  background-color: rgba(51, 43, 43, 0.84);
  margin-bottom: 40px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.team img {
  width: 230px;
  height: 250px;
  border-radius: 10px;
  margin-top: 10px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-content {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.home-container {
  background: url("https://mur-mur.top/uploads/posts/2023-05/1682963409_mur-mur-top-p-chernii-tort-s-yagodami-krasivo-14.jpg") center center no-repeat;
  background-size: cover;
  padding: 200px;
}

.home-content {
  background-color: rgba(161, 157, 157, 0.8);
  padding: 50px;
  border-radius: 10px;
}

.custom-btn-order {
  width: 230px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251,75,2,1);
  box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7:before{
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover{
  color: rgba(251,75,2,1);
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251,75,2,1);
  box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

.request-block {
  background: url("https://media.istockphoto.com/id/1267814680/photo/fruit-cake-cake-decorated-with-berries-on-a-wooden-stand-on-a-black-background.jpg?s=612x612&w=0&k=20&c=u-uV9fFNLBKpIubQQRQ-TNotJHLddu3jxHwjjLw3Fwc=") no-repeat center;
  background-size: cover;
  margin-top: 30px;
  padding-top: 0;
  height: 500px;
}

.request-title {
  padding-top: 60px;
  text-align: center;
  background-color: rgba(181, 173, 173, 0.7);
  text-transform: uppercase;
  margin-bottom: 0;
}

.request-text {
  padding-top: 40px;
  text-align: center;
  background-color: rgba(181, 173, 173, 0.7);
  margin-top: 0;
  margin-bottom: 0;
}

.form-request {
  margin-top: 0;
  padding: 40px;
  text-align: center;
  background-color: rgba(181, 173, 173, 0.7);
}

.input-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  font-size: 15px;
  margin-bottom: 40px;
}

.input-block input {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  background-color: rgba(223, 213, 213, 0.63);
  border: none;
  outline: none;
  padding: 5px 20px;
}

.comment {
  text-align: left;
  font-size: 15px;
}

.user-comment {
  margin-top: 10px;
  background-color: rgba(223, 213, 213, 0.63);
  border: none;
  outline: none;
  padding: 8px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.form-btn {
  width: 150px;
  height: 40px;
  background-color: orange;
  border: transparent;
  color: white;
  text-transform: uppercase;
}

.form-btn:hover {
  background-color: rgba(166, 150, 150, 0.6);
}

.footer-info {
  border-top: 1px solid white;
  padding: 20px 0;
  background-color: black;
  color: white;
}

.nav-list {
  font-size: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
}

.nav-content .inactive,
.list-aside .inactive {
  color: white;
  text-decoration: none;
}

.nav-content .active,
.list-aside .active {
  color: rgba(241, 237, 11, 0.78);
  font-weight: bold;
  text-transform: uppercase;
}

.game-board {
  width: 500px;
  margin: 20px auto 10px;
}

.content {
  width: 500px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-aside {
  width: 220px;
  border-right: 1px solid white;
  margin-right: 25px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}



